RewriteEngine on
RewriteCond %{HTTP_HOST} ^ravgroup.org
RewriteRule (.*) https://www.ravgroup.org/$1 [R=301,L]
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
</IfModule>