<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DBcon" connectionString="data source=103.228.113.158;initial catalog=DB_RAVINFRANEW;user id=rav;password=Var#@05082021#@" />
  </connectionStrings>
  <appSettings>
    <!-- Start Online Payment Gateway settings-->
    <add key="PreserveLoginUrl" value="true" />
    <!--<add key="MERCHANT_KEY" value="rjQUPktU" />
    <add key="SALT" value="e5iIg1jwi8" />-->
    <add key="MERCHANT_KEY" value="e0rUajll" />
    <add key="SALT" value="Zxz77AJh6w" />
    <add key="PAYU_BASE_URL" value="https://secure.payu.in/_payment" />
    <!--<add key="surl" value="http://ravgroup.org/Associate/WalletPayment" />-->
    <add key="surl" value="http://localhost:51017/Associate/WalletPayment" />
    <add key="action" value="" />
    <add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10" />
    <!-- End Online Payment Gateway settings-->
    <!--Start AES Encryption Setting-->
    <add key="AesEncryptionKey" value="1MAKV2SPBNI992121MAKV2SPBNI99212" />
    <!--End AES Encryption Setting-->
    <!-- Start Email Setting-->
    <add key="SMTPServerName" value="smtpout.secureserver.net" />
    <add key="SMTPUserName" value="no-reply@ravsundara.com" />
    <add key="SMTPPassword" value="RAVSundara@no-reply2025" />
    <add key="SMTPPort" value="80" />
    <add key="SMTPUseAuthentication" value="1" />
    <!--End Email Setting-->
    <!--Start Website Details-->
    <add key="COMPANY-NAME" value="RAV GROUP" />
    <add key="WEBSITE-URL" value="https://ravgroup.org" />
    <!--End Website Details-->
    <!--Start SMS Setting-->
    <add key="SMSAPI" value="http://sms.radianceedu.com/API/WebSMS/Http/v1.0a/index.php?username=RAVGROUP[AND]password=vwjwmO-MDWP[AND]sender=RAVGLO[AND]to=[MOBILE][AND]message=[MESSAGE][AND]pe_id=[PEID][AND]template_id=[TEMPLATEID]" />
    <add key="SMS-OTP" value="Dear [MEMBER-NAME] your OTP for [PURPOSE] is [OTP] Regards RAV Group." />
    <add key="SMS-REGISTRATION" value="[MEMBER-NAME] you have successfully registered with us, your login id- [LOGIN-ID] and password-[PASSWORD]. Thank you for choosing [COMPANY-NAME]." />
    <add key="SMS-PLOTBOOKING" value="[MEMBER-NAME] your  amount of Rs. [AMOUNT] has been received against your Plot No-[PLOT-NO] ([SITE-NAME]). Cheque payment is subject to realization [COMPANY-NAME]." />
    <add key="Support-Request" value="[MEMBER-NAME] your support request for [SUBJECT] has been received. [COMPANY-NAME]." />
    <add key="Support-Request-Resolved" value="your support ticket no. [TICKET-NO] has been resolved. [COMPANY-NAME]." />
    <add key="SITEVISIT-ASSIGN-DRIVER" value="A new site visit request for [PROJECT-NAME] with customer : [CUSTOMER-NAME] contact: [MOBILE-NO] no of persons: [NO-OF-PERSON] is scheduled on [VISIT-DATE] between [TIME-SLOT] at [LOCATION]. [COMPANY-NAME]." />
    <add key="SITEVISIT-ASSIGN-CUSTOMER" value="Site visit request for [PROJECT-NAME] on [VISIT-DATE] between [TIME-SLOT] has been arranged with driver: [DRIVER-NAME] vehicle: [VEHICLE] mob: [MOBILE-NO]. [COMPANY-NAME]." />
    <add key="SITEVISIT-CANCEL-DRIVER" value="Site visit request for [PROJECT-NAME] with customer : [CUSTOMER-NAME] contact: [MOBILE-NO] on [VISIT-DATE] between [TIME-SLOT] at [LOCATION] is cancelled due to [CANCELLATION-REASON]. [COMPANY-NAME]." />
    <add key="SITEVISIT-CANCEL-CUSTOMER" value="Site visit request for [PROJECT-NAME] on [VISIT-DATE] between [TIME-SLOT] is cancelled due to [CANCELLATION-REASON]. [COMPANY-NAME]." />
    <add key="SEMINAR-REGISTRATION" value="[MEMBER-NAME], You are successfully registered for the Live Session on [SEMINAR-DATE].Click: [LINK]" />
    <!--End SMS Setting-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="no-reply@ravsundara.com">
        <network host="smtpout.secureserver.net" port="80" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
	  <sessionState timeout="30">
	  </sessionState>
    <customErrors mode="On">
    </customErrors>
    <authentication mode="None" />
    <compilation targetFramework="4.5.2" tempDirectory="C:\Inetpub\vhosts\ravgroup.org\tmp" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
	<defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: 69169B5A-5F79-4C73-92AF-73D455DB9F14-->